boto==2.40.0
dateutils==0.6.6
honcho==0.7.1
python-dateutil==2.5.3
pytz==2016.4

Flask==0.10.1
itsdangerous==0.24
MarkupSafe==0.23
Werkzeug==0.11.9
Jinja2==2.8
gunicorn==19.5.0

requests==2.10.0
uritemplate==0.6

beautifulsoup4==4.4.1
httmock==1.2.5
psycopg2==2.6.1
