{% extends "layout.html" %}

{% block content %}
  <div class="container" style="margin-top: 100px">
    <h2 class="">Almost There!</h2>
    
    <p>
        Create a free Mapzen Developers account to access Mapzen services and
        finish your extract. You’ll be asked to log in with a free Github
        account, then return to this page to download your files.
    </p>
  </div>

  <div class="container text-center" style="margin-top: 3em; margin-bottom: 300px">
    <form action="{{href}}" method="get" target="_blank">
        <input type="hidden" name="state" value="{{state}}">
        <input type="hidden" name="client_id" value="{{client_id}}">
        <input type="hidden" name="redirect_uri" value="{{redirect_uri}}">
        <input type="hidden" name="response_type" value="code">
        <button class="btn btn-mapzen-alt">Log In With Mapzen</button>
    </form>
  </div>
{% endblock %}
