#map path {
  fill: #d4645c;
  stroke: #d4645c;
  stroke-width: 2;
  stroke-opacity: .3;
  fill-opacity: .3;
}
#map path.blue {
  fill: #6ea0a4;
  stroke: #6ea0a4;
}
#map path.outline {
  stroke: #000;
  fill: #6ea0a4;
  fill-opacity: .3;
  stroke-opacity: .5;
}
.leaflet-container a {
  color: #6ea0a4;
}
.leaflet-container .leaflet-control-zoom-in,
.leaflet-container .leaflet-control-zoom-out {
  color: #000;
}
.link {
  border: 1px solid #ddd;
  display: inline-block;
  padding: 5px 15px;
  margin: 0 10px 10px 0;
  text-transform: uppercase;
}