.col-sm-6 {
  margin-bottom: 100px;
}
h1 {
  margin: 0 0 20px;
}
.container {
  margin-bottom: 50px;
}
.note {
  color: #808080;
  font-size: 14px;
}
#extracts {
  width: 100%;
  margin-top: 50px;
  border: 1px solid #eee;
  margin-bottom: -1px;
}
#extracts tbody td {
  padding: 0;
}
tbody tr a {
  color: #555;
  font-weight: normal;
  display: block;
  padding: 8px;
}
tbody tr:hover {
  cursor: pointer;
  background: #f7f7f7;
}
tbody tr:hover td a {
  color: #385d5c;
}
tbody .btn-transparent {
  margin: 8px auto;
  display: block;
  padding: 2px 10px;
  font-size: 12px;
  color: #898989;
  border-color: #898989;
}
.map {
	width: 25%;
	height: 200px;
  cursor: default;
  float: left;
}
.map path {
  cursor: default;
}