body.data-pages #map {
  width: 100%;
  border: 1px solid #ddd;
}
#map, #map path {
  cursor: default;
}
h2 {
  margin-top: 0;
}
h3 {
  font-size: 36px;
  margin: 1.2em 0 .6em;
}
p.error {
  color: #d4645c;
}
#downloads .label {
  margin: 5px 0;
  display: inline-block;
  clear: both;
  font-weight: bold;
  color: #000;
}
#downloads .label a {
  text-decoration: underline;
}
#downloads p {
  margin-top: 15px;
}
@media (max-width: 768px) {
  body.data-pages #map {
    height: 300px;
  }
}