h1 {
  margin-bottom: 10px;
}
body.data-pages #search_input{
  height:41px;
}
body.data-pages .inline-submit .btn { 
  background: #666; 
  color: white;
}
body.data-pages .inline-submit .btn:hover { 
  background: #555; 
}
.map-wrapper {
  padding: 0;
}
#map {
  border-right: 1px solid rgb(224,224,224);
}
.drag-icon {
  width: 10px;
  height: 10px;
  cursor: nesw-resize;
  border-color: #aaa;
}
.drag-icon:nth-child(even) {
  border-top: 3px solid;
  border-right: 3px solid;
}
.drag-icon:nth-child(odd) {
  border-bottom: 3px solid;
  border-left: 3px solid;
}
.drag-icon:hover {
  border-color: #666;
}

#search-box {
  margin: 20px 0 40px;
}
.data-filter-label {
  position:relative;
  font-size:12px;
  line-height:1;
  font-weight:bold;
  color:#000;
  text-transform:uppercase;
  width: 100%;
}
.data-filter-label.red {
  color: #d4645c;
}
#request-wrapper[class*="filtered"] .data-filter-label.red {
  display: none;
}
#extracts .country:first-child {
  margin-top: 5px;
}
.country {
  border-top: 1px solid rgb(224,224,224);
  margin-top: 20px;
}
.country-name {
  background: rgb(224,224,224);
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1px;
  padding: 2px 10px;
  font-size: 12px;
  cursor: pointer;
  float: left;
}
.country-name:hover {
  background: #ccc;
}
.city {
  margin: 3px 0 3px 10px;
  cursor: pointer;
  clear: both;
  color: #000;
  font-weight: normal;
  display: block;
  text-transform: capitalize;
}
#search-error .name {
  font-weight: bold;
}
#make-request {
  display: none;
  background: rgba(110,160,164,.3);
  padding: 20px;
}
#make-request .btn:hover {
  background: rgba(110,160,164,.4);
}
#request-wrapper .request-messaging {
  display: none;
}
#request-wrapper.filtered-default .default-request-text {
  display: block;
}
#request-wrapper.filtered-encompassed .encompassed-text {
  display: block;
}
#request-wrapper.filtered-encompassed #make-request {
  margin-top: 50px;
}
#request-wrapper.filtered-request-greater-1 .request-greater-1 {
  display: block;
}
#request-wrapper.filtered-request-greater-5 .request-greater-5 {
  display: block;
}
#request-wrapper.filtered-request-greater-5 #make-request {
  background: rgba(212,100,92, .3);
}
#request-wrapper.filtered-request-greater-5 .btn {
  display: none;
}
#request-wrapper.filtered-error #search-error {
  display: block;
}
#request-wrapper.filtered-error #make-request {
  display: none;
}
.autocomplete {
  border: 1px solid #ddd;
}
.autocomplete .suggestion:first-child {
  font-size:12px;
  font-weight:bold;
  text-transform:uppercase;
  color: #6ea0a4;
  clear: both;
  height: 25px;
  vertical-align: bottom;
  line-height: 2em;
  background: white;
  cursor: default;
}
.suggestion {
  border-bottom: 1px solid #ddd;
  padding: 1px 0 1px 15px;
  color: #808080;
  cursor: pointer;
  font-size: 14px;
}
.suggestion .layer {
  float: right;
  text-align: right;
  padding-right: 10px;
}
.suggestion.selected {
  color: #000;
  background: #ddd;
}
.suggestion:hover {
  color: #000;
  background: #eee;
}
.suggestion:last-child {
  margin-bottom: -1px;
}
@media (max-width: 768px) {
  .column-map {
    position: relative;
  }
}