body.data-pages #map {
  width: 100%;
  border: 1px solid #ddd;
}
#map, #map path {
  cursor: default;
}
h2 {
  margin-top: 0;
}
h3 {
  font-size: 36px;
  margin: 1.2em 0 .6em;
}
p.error {
  color: #d4645c;
}
.btn-group {
  margin-bottom: 0px;
}
.dl-group {
  margin-top: 10px;
}
.dl-group .label,
.dl-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #000;
}
.dl-group .label:hover {
  text-decoration: underline;
}
#downloads p {
  margin-top: 15px;
}
@media (max-width: 768px) {
  body.data-pages #map {
    height: 300px;
  }
}