{% extends "layout.html" %}

{% block styles %}
  <link rel='stylesheet' href='{{ url_for('static', filename='css/extracts.css') }}'>
{% endblock %}

{% block content %}
  <div class="container">
    <ol class="breadcrumb">
      <li>
        <a href="{{ url_for('Metro-Extracts.index') }}">Metro Extracts</a>
      </li>
      <li class="active">Your Custom Extracts</li>
    </ol>
  </div>
  <div class="container">
    <h1 class="text-center">Your Custom Extracts</h1>
    <p class="text-center">Here are all the custom extracts that you have created. Individual extracts can be shared via their URL.</p>
    <div id="extracts" class="table-wrapper">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          {% for extract in extracts %}
            <tr>
              <td>
                <a class="extract" href="{{ url_for('ODES.get_extract', extract_id=(extract.id or extract.odes.id)) }}">
                  <!-- <div class="map" id="map-{{extract.odes.id}}"></div> -->
                  {{extract.name or extract.wof.name or extract.id or extract.odes.id}}
                </a>
              </td>
              <td>
                <a class="extract" href="{{ url_for('ODES.get_extract', extract_id=(extract.id or extract.odes.id)) }}">
                  {{extract.odes.status}}
                </a>
              </td>
              <td>
                <a class="extract" href="{{ url_for('ODES.get_extract', extract_id=(extract.id or extract.odes.id)) }}">
                  {{ extract.odes.created_at.strftime('%Y %B %d, at %I:%M %p') }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block js %}
  <!-- <script src='{{ url_for('static', filename='js/extracts.js') }}'></script> -->
{% endblock %}

{% block script %}
  {% for extract in extracts %}
    /* Extracts().init(
      {{ extract.odes.bbox|safe }},
      {{ extract.odes.id|safe }},
      "{{ url_for('static', filename='scene.yaml') }}"
    ); */
  {% endfor %}
{% endblock %}