{% extends "layout.html" %}

{% block styles %}
  <link rel='stylesheet' href='{{ url_for('static', filename='css/extracts.css') }}'>
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="text-center">welcome back!</h1>
    <div id="extracts">
      {% for extract in extracts %}
        <a class="extract" href="{{ url_for('ODES.get_extract', extract_id=extract['id']) }}">
          <div class="map" id="map-{{extract.id}}"></div>
          <span class="info">
            <span class="label">Name:</span>
            {{extract.id}}
          </span>
          <span class="info">
            <span class="label">Status:</span>
            {{extract.status}}
          </span>
          <span class="info">
            <span class="label">Created At:</span>
            {{extract.created_at}}
          </span>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src='{{ url_for('static', filename='js/extracts.js') }}'></script>
{% endblock %}

{% block script %}
  {% for extract in extracts %}
    Extracts().init(
      {{ extract.bbox|safe }}, 
      {{ extract.id|safe }},
      "{{ url_for('static', filename='scene.yaml') }}"
    );
  {% endfor %}
{% endblock %}