{% extends "layout.html" %}

{% block styles %}
  <link rel='stylesheet' href='{{ url_for('static', filename='css/metro.css') }}'>
{% endblock %}

{% block content %}
  <div class="col-xs-12">
    {% include "odes/logout-fragment.html" %}
    <ol class="breadcrumb">
      <li>
        <a href="{{ url_for('Metro-Extracts.index') }}">Metro Extracts</a>
      </li>
      <li>
        <a href="{{ url_for('ODES.get_extracts') }}">Requested Extracts</a>
      </li>
      <li class="active">{{extract.wof.name or extract.id or extract.odes.id}}</li>
    </ol>
  </div>
  <div class="col-sm-6 col-xs-12">
    <div id="map"></div>
  </div>
  <div class="col-sm-6 col-xs-12">
    <h2>Your Extract:</h2>
    <h2>{{extract.wof.name or extract.id or extract.odes.id}}</h2>
    <div class="btn-group" style="margin: 0 auto;">
      <a href="https://mapzen.com/documentation/metro-extracts/">Documentation</a> | 
      <a href="https://mapzen.com/documentation/metro-extracts/walkthrough/">Tutorial</a> | 
      <a href="https://mapzen.com/documentation/metro-extracts/overview/#choose-a-file-format">File Format Guide</a>
    </div>
    <h3>Downloads</h3>
    {% if extract.odes.status == "pending" or extract.odes.status == "processing" %}
      <p class="error">Sit tight! Your extract will take a little while to process, depending on the size of the area that you requested. This usually takes 30-60 minutes.</p>
      <p class="error">Your download links will appear on this page once it has finished processing. We will also email you a link to this page, so feel free to close this page and come back to it later! The email will go to whichever email address is registered with your Github account.</p>
    {% elif extract.odes.links
        and 'osm2pgsql shapefiles zip' in extract.odes.links
        and 'osm2pgsql geojson zip' in extract.odes.links
        and 'imposm shapefiles zip' in extract.odes.links
        and 'imposm geojson zip' in extract.odes.links
        and 'osm pbf' in extract.odes.links
        and 'osm bz2' in extract.odes.links
        and 'water coastline zip' in extract.odes.links
        and 'land coastline zip' in extract.odes.links %}
      <div id="downloads">
        <a href="https://mapzen.com/documentation/metro-extracts/overview/#osm2pgsql-and-imposm" class="label">Points, Lines, and Polygons (OSM2PGSQL)</a>
        <div class="dl-group">
          <a class="link" href="{{ extract.odes.links['osm2pgsql shapefiles zip'] }}">SHAPEFILE</a>
          <a class="link" href="{{ extract.odes.links['osm2pgsql geojson zip'] }}">GEOJSON</a>
        </div>
        <a href="https://mapzen.com/documentation/metro-extracts/overview/#osm2pgsql-and-imposm" class="label">Layers (buildings, roads, etc) (IMPOSM)</a>
        <div class="dl-group">
          <a class="link" href="{{ extract.odes.links['imposm shapefiles zip'] }}">SHAPEFILE</a>
          <a class="link" href="{{ extract.odes.links['imposm geojson zip'] }}">GEOJSON</a>
        </div>
        <a href="https://mapzen.com/documentation/metro-extracts/overview/#osm-pbf-and-osm-xml" class="label">OpenStreetMap-specific Formats</a>
        <div class="dl-group">
          <a class="link" href="{{ extract.odes.links['osm pbf'] }}">OSM PBF</a>
          <a class="link" href="{{ extract.odes.links['osm bz2'] }}">OSM XML</a>
        </div>
        <label>Coastlines</label>
        <div class="dl-group">
          <a class="link" href="{{ extract.odes.links['water coastline zip'] }}">WATER COASTLINE SHAPEFILE</a>
          <a class="link" href="{{ extract.odes.links['land coastline zip'] }}">LAND COASTLINE SHAPEFILE</a>
        </div>
        <p>If you're unsure of which file to pick, check out our <a href="https://mapzen.com/documentation/metro-extracts/overview/#choose-a-file-format">format guide</a>.</p>
      </div>
    {% else %}
      <p class="error">Oh no, your extract request seems to have errored out. Please let us know at <a href="mailto:hello@mapzen.com">hello@mapzen.com</a>.</p>
    {% endif %}

    <h3>About</h3>
    <p>Mapzen Metro Extracts are produced via a <a href="https://github.com/mapzen/chef-metroextractor">chef cookbook</a> derived from the work of <a href="http://metro.teczno.com">Michal Migurski</a>.</p>
    <p>For more granular OpenStreetMap data, we offer a free, hosted <a href="https://mapzen.com/documentation/vector-tiles/">Vector Tile service</a>. <b>Sign up for your free <a href="https://mapzen.com/developers/">API key here</a>.</b></p>
  </div>

{% endblock %}

{% block js %}
  <script src='{{ url_for('static', filename='js/extract.js') }}'></script>
{% endblock %}

{% block script %}
  var mapHeight = window.innerWidth < 768 ? 300 : Math.max(window.innerHeight - 114, 500);
  d3.select("#map").style("height", mapHeight + 'px');

  var extractPage = Extract().init(
    {{ extract.odes.bbox|safe }}, 
    "{{ url_for('static', filename='scene.yaml') }}"
  );
{% endblock %}