<form action="{{ url_for('ODES.post_envelope') }}" method="post">
    Sudo Make Me A New Extract<br>
    <label><input   value="37.81230" name="bbox_n"> North</label><br>
    <label><input value="-122.26447" name="bbox_w"> West</label><br>
    <label><input   value="37.79724" name="bbox_s"> South</label><br>
    <label><input value="-122.24825" name="bbox_e"> East</label><br>
    <hr>
    <label for="email_subject">Subject:</label><br>
    <input value="Yo." name="email_subject"><br>
    <label for="email_body_text">Message (plaintext):</label><br>
    <textarea name="email_body_text">Yo! Your Extract is done!</textarea><br>
    <label for="email_body_html">Message (HTML):</label><br>
    <textarea name="email_body_html">&lt;p&gt;Yo! Your Extract is &lt;b&gt;done&lt;/b&gt;!&lt;/p&gt;</textarea>
    <hr>
    <input type="submit">
</form>
