{% extends "layout.html" %}

{% block styles %}
  body.data-pages {
    margin-top: 0;
  }
  body.data-pages #search_input{
    height:41px;
  }
  body.data-pages .inline-submit .btn { 
    background: #666; 
    color: white;
  }
  body.data-pages .inline-submit .btn:hover { 
    background: #555; 
  }

  #map {
    border-right: 1px solid rgb(224,224,224);
  }
  #map path {
    fill: #d4645c;
    stroke: #d4645c;
    stroke-width: 2;
    stroke-opacity: .3;
    fill-opacity: .3;
  }
  #map path.blue {
    fill: #6ea0a4;
    stroke: #6ea0a4;
  }
  #map path.outline {
    stroke: #000;
    fill: transparent;
  }
  .drag-icon {
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 10px;
    cursor: pointer;
  }
  .leaflet-container a {
    color: #6ea0a4;
  }
  .leaflet-container .leaflet-control-zoom-in,
  .leaflet-container .leaflet-control-zoom-out {
    color: #000;
  }

  #search-box {
    margin: 20px 0 40px;
  }
  .data-filter-label {
    position:relative;
    font-size:12px;
    line-height:1;
    font-weight:bold;
    color:#000;
    text-transform:uppercase
  }
  .country {
    border-top: 1px solid rgb(224,224,224);
    margin-top: 20px;
  }
  .country-name {
    background: rgb(224,224,224);
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
    padding: 2px 10px;
    font-size: 12px;
    cursor: pointer;
    float: left;
  }
  .country-name:hover {
    background: #ccc;
  }
  .city {
    text-transform: capitalize;
    margin: 3px 0 3px 10px;
    cursor: pointer;
    clear: both;
    color: #000;
    font-weight: normal;
    display: block;
  }
  .city:hover {
    text-decoration: underline;
  }
  #make-request {
    display: none;
    background: rgba(110,160,164,.3);
    padding: 20px;
  }
  #make-request .btn:hover {
    background: rgba(110,160,164,.4);
  }
  #request {
    background: rgb(224,224,224);
    margin: 50px 0;
    padding: 20px;
  }
  .autocomplete {
    border: 1px solid #ddd;
  }
  .suggestion {
    border-bottom: 1px solid #ddd;
    padding: 1px 0 1px 15px;
    color: #808080;
    cursor: pointer;
  }
  .suggestion.selected {
    color: #000;
    background: #ddd;
  }
  .suggestion:hover {
    color: #000;
    background: #eee;
  }
  .suggestion:last-child {
    margin-bottom: -1px;
  }
{% endblock %}

{% block content %}
  <div class='container-fluid'>
    <div class='col-xs-6' style='position: fixed;'>
      <div id='map'></div>
    </div>
    <div class='col-xs-6' style='float: right;'>
      <div class='row headroom'>
      <div class='col-xs-12 text-center'>
        <h1>metro extracts</h1>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12'>
        <p>Now it’s even easier to get local data so you can start building cool stuff. Each week, we automatically extract the latest <a href='http://openstreetmap.org/'>OpenStreetMap</a> data into manageable, metro-area shapefiles in a variety of formats for you to use.</p>
        <p><a>Format Guide</a> | <a>Documentation</a> | <a>Tutorial</a> | <a>Request an Extract</a></p>
      </div>
    </div>
      <div class='row inline-submit' id='search-box'>
        <label class='data-filter-label' for='search_input'>Filter Extracts by City or Region</label>
        <input type='search' class='hasclear col-sm-9 col-xs-8' id='search_input' placeholder='example: Los Angeles' type='text'>
        <input id='search_submit' type="submit" value="search" class="col-xs-4 col-sm-3 btn btn-transparent">
        <div class="autocomplete"></div>
      </div>
      <div id='extracts'>
        {% for country_metros in metros_tree %}
          <div class="country">
            <div class="country-name">{{ country_metros.country }}</div>
            {% for metro in country_metros.metros %}
              <a class="city" href="metros/{{ metro.name }}">{{ metro.name.split("_")[0] }}</a>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div id="make-request">
        <p>Hmm, we don't have an extract for <span class="name"></span> yet. Would you like to request one?</p>
        <a class="btn btn-transparent" target="_blank">Create <span class="name"></span> Request</a>
      </div>
      <div class='row' id='request'>
        <p>Can't find what you're looking for? Request one!</p>
        <div class='btn btn-transparent'>Submit GH Issue</div>
      </div>
    </div>
{% endblock %}

{% block script %}
  var nestedCities = {{metros_tree|tojson|safe}};

  d3.select("#map").style("height", window.innerHeight + 'px');

  function hasWebGL () {
    try {
      var canvas = document.createElement('canvas')
      return !!(window.WebGLRenderingContext && (canvas.getContext('webgl') || canvas.getContext('experimental-webgl')))
    } catch (x) {
      return false
    }
  }
  function initDisplayMap (geoJSONUrl, geoJSONOptions) {
    var southwest = L.latLng(0, -125)
    var northeast = L.latLng(0, 125)
    var options = {
      scrollWheelZoom: false,
      // Disables dragging on touch-detected devices
      dragging: (window.self !== window.top && L.Browser.touch) ? false : true,
      tap: (window.self !== window.top && L.Browser.touch) ? false : true,
    }
    var displayMap = L.map('map', options).fitBounds(L.latLngBounds(southwest, northeast))
    var layer

    if (hasWebGL() === true) {
      layer = Tangram.leafletLayer({
        scene: '../static/scene.yaml',
        attribution: '<a href="https://mapzen.com/tangram">Tangram</a> | &copy; OSM contributors | <a href="https://mapzen.com/">Mapzen</a>'
      })
    } else {
      layer = L.tileLayer('https://stamen-tiles.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}.png', {
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.',
      })
    }
    layer.addTo(displayMap);

    d3.json(geoJSONUrl, function(data){
      L.geoJson(data, geoJSONOptions).addTo(displayMap);
    });

    return displayMap
  }
  var mapurl = 'https://s3.amazonaws.com/metro-extracts.mapzen.com/cities.geojson';

  var onEachFeature = function (feature, layer) {
    if (feature.properties && feature.properties.name) {
      var text = feature.properties.name;
      layer.on('click', function (e) {
        var str = text.split("_")[0].replace(/-/g," ");
        document.getElementById("search_input").value = str.capitalize();
        filterList(str);
      })
    }
  }

  // Setup map
  var geoJSONOptions = {
    onEachFeature: onEachFeature
  }
  var displayMap = initDisplayMap(mapurl, geoJSONOptions)

  function drawList(data) {
    var countries = d3.select("#extracts").selectAll(".country").data(data);
    var enterCountries = countries.enter().append("div").attr("class","country");
    countries.exit().remove();
    enterCountries.append("div").attr("class","country-name")
      .on("click",function(d){
        doSearch(d.country);
      });
    countries.select(".country-name").text(function(d){ return d.country; });
    var cities = countries.selectAll(".city").data(function(d){ return d.metros; });
    cities.enter().append("a").attr("class","city");
    cities.text(function(d){ return d.name.replace(/-/g," "); })
      .attr("href",function(d){ 
        return "./metro/"+d.name; 
      });
    cities.exit().remove();
  }

  d3.select("#search_submit").on("click",function(){
    doSearch(document.getElementById("search_input").value);
  });

  var wait = false,
    waitQuery;

  function suggestSearch(query) {
    if (!wait) {
      wait = true;
      doSuggestion(query);
      setTimeout(function(){ wait = false; }, 500);
    } else {
      waitQuery = query;
    }
  }

  function doSuggestion(query) {
    d3.json("https://search.mapzen.com/v1/autocomplete?text="+query+"&sources=wof&api_key=search-owZDPeC", function(error, json) {
        var suggestion = d3.select(".autocomplete")
          .selectAll(".suggestion").data(json.features);
        suggestion.enter().append("div").attr("class","suggestion");
        suggestion.exit().remove();
        suggestion.text(function(d){ return d.properties.label; })
          .on("click",function(d){
            document.getElementById("search_input").value = d.properties.label;
            doSearch(d.properties.label);
            filterList(d.properties.label);
          });
    });
  }

  function doSearch(query) {
    d3.selectAll(".suggestion").remove();
    
    d3.json("https://search.mapzen.com/v1/search?text="+query+"&sources=wof&api_key=search-owZDPeC", function(error, json) {
        var bbox = json.features[0].bbox;
        displayMap.fitBounds([[bbox[1],bbox[0]],[bbox[3], bbox[2]]])
        if (json.features[0].properties.layer == "locality") displayMap.zoomOut(2);
        if (d3.selectAll(".city")[0].length == 0){
          requestExtract(json.features[0]);
        } else {
          clearRequest();
        }
    });
  }

  Number.prototype.toRad = function() {
     return this * Math.PI / 180;
  }
  Number.prototype.toDeg = function() {
     return this * 180 / Math.PI;
  }

  function calculateOffset(theta, d, lat1, lng1) {
    var lat1 = lat1.toRad(), 
      lng1 = lng1.toRad(),
      R = 6371;

    var lat2 = Math.asin( Math.sin(lat1)*Math.cos(d/R) 
          + Math.cos(lat1)*Math.sin(d/R)*Math.cos(theta) ),
      lng2 = lng1 + Math.atan2(Math.sin(theta)*Math.sin(d/R)*Math.cos(lat1), 
            Math.cos(d/R)-Math.sin(lat1)*Math.sin(lat2));

    return [lat2.toDeg(), lng2.toDeg()];
  }

  function calculateNewBox(bbox) {
    var distance = Math.sqrt(Math.pow(bbox[3]-bbox[1],2) + Math.pow(bbox[2]-bbox[0], 2))*25;
    var northEast = calculateOffset(-Math.PI*3/4, distance, bbox[1], bbox[0]),
    southWest = calculateOffset(Math.PI/4, distance, bbox[3], bbox[2]);
    return [northEast, southWest];
  }

  var rect, 
    dots = [],
    outline,
    requestBoundingBox;
  var myIcon = L.divIcon({className: 'drag-icon'});
  //var wof = "http://whosonfirst.mapzen.com/spelunker/id/";
  var wof = "/wof/";

  function requestExtract(metro) {
    var geoID = metro.properties.id;
    requestBoundingBox = calculateNewBox(metro.bbox);

    drawRequestBox();

    d3.json(wof+geoID+".geojson",function(data){
      var outline = L.geoJson(data.geometry, { className : "outline" }).addTo(displayMap);
      displayMap.addLayer(outline);
    });

    d3.select("#make-request").style("display","block")
      .selectAll(".name").text(metro.properties.name);
    d3.select("#request").style("display","none");
    d3.select("#make-request").select("a")
      .on("click",function(){
        d3.select(this).attr("href","https://github.com/mapzen/data-pages/issues/new?title="+metro.properties.name+"&body=Bounding Box: "+requestBoundingBox);
      });
  }
  function drawRequestBox() {
    clearMap();
    rect = new L.Rectangle(new L.LatLngBounds(requestBoundingBox), { className : "blue" });
    displayMap.addLayer(rect);

    var cSW = new L.marker(requestBoundingBox[0], { icon : myIcon, draggable: true });
    dots.push(cSW);
    var cNE = new L.marker(requestBoundingBox[1], { icon : myIcon, draggable: true });
    dots.push(cNE);

    cSW.on("drag",function(e){
      requestBoundingBox[0] = [e.target.getLatLng().lat, e.target.getLatLng().lng];
      displayMap.removeLayer(rect);
      rect = new L.Rectangle(new L.LatLngBounds(requestBoundingBox), { className : "blue" });
      displayMap.addLayer(rect);
    });
    cNE.on("drag",function(e){
      requestBoundingBox[1] = [e.target.getLatLng().lat, e.target.getLatLng().lng];
      displayMap.removeLayer(rect);
      rect = new L.Rectangle(new L.LatLngBounds(requestBoundingBox), { className : "blue" });
      displayMap.addLayer(rect);
    });

    dots.forEach(function(l){
      displayMap.addLayer(l);
    });
  }
  function clearMap() {
    if (rect) displayMap.removeLayer(rect);
    if (outline) displayMap.removeLayer(outline);
    dots.forEach(function(l){
      displayMap.removeLayer(l);
    });
    dots = [];
  }
  function clearRequest() {
    clearMap();
    d3.select("#request").style("display","block");
    d3.select("#make-request").style("display","none");
  }

  var keyIndex = -1;

  String.prototype.capitalize = function() {
    var words = this.split(" "),
      capitalized = words.map(function(w){ return w.charAt(0).toUpperCase() + w.slice(1); });
    return capitalized.join(" ");
  }

  d3.select("#search_input").on("keyup",function(d, i, e){
    var inputDiv = document.getElementById("search_input");
    var val = inputDiv.value;

    if (!val.length) {
      drawList(nestedCities);
      d3.selectAll(".suggestion").remove();
      clearRequest();
      return;
    }

    var currentList = d3.selectAll(".suggestion");
    if (event.keyCode == 40) {
      keyIndex = Math.min(keyIndex+1, currentList[0].length-1);
      currentList.each(function(d, i){ //arrow down
        if (i == keyIndex)
          inputDiv.value = d.properties.label;
      }).classed("selected",function(d,i){ return i == keyIndex; });
      
    } else if (event.keyCode == 38) { //arrow up
      keyIndex = Math.max(keyIndex-1, 0);
      currentList.each(function(d, i){
        if (i == keyIndex)
          inputDiv.value = d.properties.label;
      }).classed("selected",function(d,i){ return i == keyIndex; });
      
    } else if (event.keyCode == 13) {
      keyIndex = -1;
      filterList(val);
      d3.selectAll(".suggestion").remove();
      doSearch(val);
    } else if (event.keyCode < 48 || event.keyCode > 90) {
      return; //restrict autocomplete to 0-9,a-z character input
    } else {
      keyIndex = -1;
      suggestSearch(val);
      filterList(val);
    }
  });

  function filterList(str) {
    var newData = [];
    nestedCities.forEach(function(d){
      if (d.country.replace(/-/g," ").indexOf(str) != -1) {
        newData.push(d);
      } else {
        var c = {
          country : d.country,
          metros : []
        }
        d.metros.forEach(function(e){ 
          if (e.name.replace(/-/g," ").indexOf(str) != -1)
            c.metros.push(e);
        });
        if (c.metros.length) newData.push(c);
      }
    });
    drawList(newData);
  }
{% endblock %}