{% extends "layout.html" %}

{% block styles %}
  <link rel='stylesheet' href='{{ url_for('static', filename='css/metro.css') }}'>
{% endblock %}

{% block content %}
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li>
        <a href="{{ url_for('Metro-Extracts.index') }}">Metro Extracts</a>
      </li>
      <li class="active">{{ metro.name }}</li>
    </ol>
  </div>
  <div class="col-sm-6 col-xs-12">
    <div id="map"></div>
  </div>
  <div class="col-sm-6 col-xs-12">
    <h2>{{ metro.name }}</h2>
    <div class="btn-group" style="margin: 0 auto;">
      <a href="https://mapzen.com/documentation/metro-extracts/">Documentation</a> | 
      <a href="https://mapzen.com/documentation/metro-extracts/walkthrough/">Tutorial</a> | 
      <a href="https://mapzen.com/documentation/metro-extracts/overview/#choose-a-file-format">File Format Guide</a>
    </div>

    {% if wof_id and wof_name %}
      <div id="encompassed">
        <h3>{{ wof_name }}</h3>
        <p>To clip this extract to the <span class="legend-blue">{{wof_name}} boundary</span>, use this outline:</p>
        <a class="link" href="{{ url_for('Metro-Extracts.wof_geojson', id=wof_id)}}">{{wof_name}}  GEOJSON</a>
      </div>
    {% endif %}

    <h3>Downloads</h3>
    <div id="downloads">
      <a href="https://mapzen.com/documentation/metro-extracts/overview/#osm2pgsql-and-imposm" class="label">Points, Lines, and Polygons (OSM2PGSQL)</a>
      <div class="dl-group">
        <a class="link" href="https://s3.amazonaws.com/metro-extracts.mapzen.com/{{ metro.id }}.osm2pgsql-shapefiles.zip">SHAPEFILE</a>
        <a class="link" href="https://s3.amazonaws.com/metro-extracts.mapzen.com/{{ metro.id }}.osm2pgsql-geojson.zip">GEOJSON</a>
      </div>
      <a href="https://mapzen.com/documentation/metro-extracts/overview/#osm2pgsql-and-imposm" class="label">Layers (buildings, roads, etc) (IMPOSM)</a>
      <div class="dl-group">
        <a class="link" href="https://s3.amazonaws.com/metro-extracts.mapzen.com/{{ metro.id }}.imposm-shapefiles.zip">SHAPEFILE</a>
        <a class="link" href="https://s3.amazonaws.com/metro-extracts.mapzen.com/{{ metro.id }}.imposm-geojson.zip">GEOJSON</a>
      </div>
      <a href="https://mapzen.com/documentation/metro-extracts/overview/#osm-pbf-and-osm-xml" class="label">OpenStreetMap-specific Formats</a>
      <div class="dl-group">
        <a class="link" href="https://s3.amazonaws.com/metro-extracts.mapzen.com/{{ metro.id }}.osm.pbf">OSM PBF</a>
        <a class="link" href="https://s3.amazonaws.com/metro-extracts.mapzen.com/{{ metro.id }}.osm.xml">OSM XML</a>
      </div>
      <label>Coastlines</label>
      <div class="dl-group">
        <a class="link" href="https://s3.amazonaws.com/metro-extracts.mapzen.com/{{ metro.id }}.water.coastline.zip">WATER COASTLINE SHAPEFILE</a>
        <a class="link" href="https://s3.amazonaws.com/metro-extracts.mapzen.com/{{ metro.id }}.land.coastline.zip">LAND COASTLINE SHAPEFILE</a>
      </div>
      <p>If you're unsure of which file to pick, check out our <a href="https://mapzen.com/documentation/metro-extracts/overview/#choose-a-file-format">format guide</a>.</p>
    </div>
    <h3>About</h3>
    <p>Mapzen Metro Extracts are produced via a <a href="https://github.com/mapzen/chef-metroextractor">chef cookbook</a> derived from the work of <a href="http://metro.teczno.com">Michal Migurski</a>.</p>
    <p>For more granular OpenStreetMap data, we offer a free, hosted <a href="https://mapzen.com/documentation/vector-tiles/">Vector Tile service</a>. <b>Sign up for your free <a href="https://mapzen.com/developers/">API key here</a>.</b></p>
  </div>
{% endblock %}

{% block js %}
  <script src='{{ url_for('static', filename='js/metro.js') }}'></script>
{% endblock %}

{% block script %}
  var mapHeight = window.innerWidth < 768 ? 300 : Math.max(window.innerHeight - 114, 500);
  d3.select("#map").style("height", mapHeight + 'px');

  var metro = {{metro|tojson|safe}},
    sceneURL = "{{ url_for('static', filename='scene.yaml') }}";

  var metroPage = Metro().init(metro, sceneURL);

  if ({{wof_id}} && "{{wof_name}}")
    metroPage.showOutline({{wof_id}});

{% endblock %}
